.mainSection {
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../Offer/OfferImages/skyImage.webp) no-repeat;
  background-size: cover;
  color: black;
}

.articlesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 1em;
}

.mainSection p {
  font-size: 3em;
  font-weight: bolder;
  width: auto;
}

.mainLogo {
  height: 20vw;
  width: auto;
}

.gridContainer {
  width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "insuranceArticle insurance"
    "bankLogo bank"
    "carArticle car";
}

.insuranceLogo {
  grid-area: insurance;
  width: 30em;
}

.insuranceArticle {
  grid-area: insuranceArticle;
  width: 30em;
}

.bankArticle {
  grid-area: bank;
  width: 30em;
}
.bankLogo {
  grid-area: bankLogo;
  width: 30em;
}

.carImage {
  grid-area: car;
  width: 30em;
}

.carArticle {
  grid-area: carArticle;
  width: 30em;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionImages {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.offerTitle {
  margin: 1em;
}
