.mainSection {
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../MainPage/MainPageImages/background1.webp) no-repeat;
  background-size: cover;
  color: white;
}

.mainSection p {
  font-size: 3em;
  font-weight: bolder;
  width: auto;
}

.mainLogo {
  height: 20vw;
  width: auto;
}

.articlesSection {
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleTitle {
  font-size: 3em;
  font-weight: 900;
  margin: 1em;
}

.mainArticle {
  width: 100%;
}

.divFlex {
  display: flex;
  flex-direction: row;
}

.mainArticle p {
  margin: 1em;
  font-size: 1em;
}

.articlesSection article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1em;
}

/* .articleStyling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.pTitle {
  /* font-size: 1em; */
  font-weight: bolder;
  font-size: larger;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 1em;
  margin: 1em;
}

.gallerySection {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryTitle {
  font-size: 3em;
  font-weight: 900;
  margin: 1em;
}

.sectionImages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.pic2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.pic3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.pic4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
