.navBar {
  background-color: #323232;
  width: auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navLogo {
  height: 5em;
  width: auto;
}

.navigateOption {
  width: 70vw;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigateOption a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.contactUsButton {
  width: 7em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: larger;
  border-radius: 15px;

  border-color: white;
}

.contactUsButton:hover {
  transition: 0.7s;
  background-color: #323232;
  border: 1px solid;
  border-color: white;
  color: white;
}

.contactUsButton a {
  color: #323232;
  text-decoration: none;
  font-size: 0.7em;
}

.contactUsButton:hover a {
  color: white;
}

@media (max-width: 519px) {
  .navigateOption,
  .contactUsButton {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 520px) {
  .hamburgerMenu {
    display: none;
  }
}
