.footer {
  background-color: #323232;
  width: auto;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footercompanyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
}

.footerOption {
  width: 70vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerTitle {
  margin: 1em;
}

.footerOption p {
  color: white;
  font-weight: bold;
}

.contactUsButton {
  width: 10vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: larger;
  border-radius: 15px;
}

.contactUsButton a {
  color: #323232;
  text-decoration: none;
  font-size: 1em;
}

.footerLogo {
  height: 4em;
  width: auto;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 519px) {
  .footerTitle,
  .footerOption p {
    font-size: 10px;
  }
  .footercompanyLogo {
    margin: 0px 10px 0px 10px;
    height: 20vw;
  }
  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
  }
}
@media (min-width: 519px) and (max-width: 930px) {
  .footercompanyLogo {
    margin: 0px 10px 0px 10px;
    height: 18vw;
  }
}
