.navBar {
  background-color: #323232;
  width: auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navLogo {
  height: auto;
  width: auto;
}

.footerOption {
  width: 70vw;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerOption p {
  color: white;
}

.contactUsButton {
  width: 10vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: larger;
  border-radius: 15px;
}

.contactUsButton a {
  color: #323232;
  text-decoration: none;
}
